<!DOCTYPE html>
<html>
    {% load static %}
    <style>@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Poiret+One" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "js/script.js" %}"></script>
        <script src="{% static "js/script2.js" %}"></script>

          <title>Statpush</title>
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        </head>

    <body>
        <header class="header">
            <nav class="navbar">
                <button id="theme" class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;"">
                    <h6>Dark Mode</h6>
                </button>
                {% if user.is_authenticated %}
                    <a href="/landing/profile/">
                    <button id="navtoprofile" class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
                        <h6>Author's Profile</h6>
                    </button></a>
                    <a href="../../logoutt/">
                    <button id="navtoprofile" class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
                        <h6>Logout</h6>
                    </button></a>
                {% else %}
                    <a href="../../register/">
                    <button id="navtoprofile" class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
                        <h6>Sign In / Sign Up</h6>
                    </button></a>
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
