{% extends 'base2.html' %}
{% load staticfiles %}

{% block content %}
<a href="/landing">
  <button class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
      <h8>Go to landing page</h8>
</button></a>
    <div class="container">
      <div class="d-flex flex-row"style="padding-top: 50px">
        <input id='search_input' class="form-control" type="text" name="book" placeholder="Searching for books...">
        <div class="input-group-prepend">
          <button class="input-group-text" id="search"><i class="fa fa-search text-white" ></i></button>
        </div>
      </div>

      <div class="col-md-12 left">
          <table id="table_book" class="table m-0">
              <thead>
                  <tr>
                      <th>Title</th>
                      <th>Author</th>
                      <th class="center">Images</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
    </div>
{% endblock %}
