{% extends 'base2.html' %}
{% load static %}

{% block content %}
<div class="col-md-8">
<a href="/landing">
  <button class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
      <h8>Go to landing page</h8>
</button></a>
<div class="col-md-12" style="padding-left: 200px">
    <div class="container">
	<p class="display-4">Welcome, {{ user }}!</p>
        <button class="btn waves-effect waves-light" style="margin-top: 20px;">
          <a href="{% url 'books' %}">See Book Recommendations</a>
        </button>
    </div>
</div>
</div>
{% endblock %}
