body {
	padding: 40;
	margin: 0;
	background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
	position: absolute;
	width: 700px;
	height: 59px;
	right:0px;
	top: 0px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(175, 166, 166, 0.25);
	z-index:1;
}

.nav-link,
.navbar-brand {
	color: #086788;
	cursor: pointer;
}
.nav-item,
.nav-active {
	font-family: Petrona;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 27px;
	text-align:center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #FFEED6;
	
}
.nav-active {
	background-color: #a6b8c2;
	text-shadow:
   -1px -1px 0 #FFEED6,  
    1px -1px 0 #FFEED6,
    -1px 1px 0 #FFEED6,
     1px 1px 0 #FFEED6;
}
.nav-link {
	margin-right: 0em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- header ---*/

.header {
	background:#086788;
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay {
	position: absolute;
	background:#FFEED6;
	min-height: 100%;
	min-width: 80%;
	right: 0;
	top: 0;
}
.overlay p,
.overlay h1,
.overlay q,
.overlay ul  {
	position: absolute;
	background:#FFEED6;
	min-height: 0%;
	min-width: 0%;
	text-align: center;
	font-family: Petrona;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}
.overlay p,
.overlay ul{
	left:180px;
	right:50px;
	top: 190px;
	text-align: left;
	font-size: 24px;
	line-height: 27px;
}
.overlay h1{
	left: 450px;
	top: 100px;
	font-size: 36px;
	line-height: 41px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.overlay q {
	left: 200px;
	right:100px;
	top: 400px;
	font-family: Cinzel;
	font-size: 24px;
	line-height: 32px;
}
.description {
	position: absolute;
	width: 252px;
	height: 252px;
	left: 130px;
	top: 184px;
	background: url(pose1.jpg);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 360px;
	z-index:1;
}
.img1 {
	top:500px;
	text-align: Center;
}
/*--- media queries ---*/

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}
	.overlay {
		position: absolute;
		min-height: 30%;
		min-width: 30%;
	}
	.navbar{
		min-height: 10%;
		min-weight:10%;
	}
}