{% extends 'base3.html' %}
{% load static %}
{% block content %}
<div class="col-md-8">
    <a href="/landing">
      <button class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
          <h8>Go to landing page</h8>
    </button></a>
  <p class="display-4">Welcome,</p>
        {% if user.is_authenticated %}
        <p class="display-4">You're already logged in</p>
        {% else %}
        <div class = "content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Log In</legend>
              {{ form.as_p }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
          </form>
          <div class="border-top pt-3">
            <small class="text-muted">
              Haven't Signed Up?<a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        {% endif %}
          </div>
        </div>
{% endblock %}
