{% extends 'base3.html' %}
{% load static %}
{% block content %}
<div class="col-md-8">
    <a href="/landing">
      <button class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
          <h8>Go to landing page</h8>
    </button></a>
	<p class="display-4">Welcome,</p>
          <h2>You have been logged out.</h2>
          <div class="border-top pt-3">
            <small class="text-muted">
              <a href="{% url 'register' %}">Log In Again</a>
            </small>
          </div>
</div>
{% endblock %}
