{% extends 'base3.html' %}
{% load static %}
{% block content %}
<div class="col-md-8">
<a href="/landing">
  <button class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
      <h8>Go to landing page</h8>
</button></a>
<div class="col-md-8">
	<p class="display-4">Welcome,</p>
        <div class = "content-section">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Join Today</legend>
              {{ form.as_p}}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
          </form>
          <div class="border-top pt-3">
            <small class="text-muted">
              Already Have an Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
          </div>
</div>
</div>
{% endblock %}
