{% extends 'base.html'%}
<!DOCTYPE html>
{% load static %}
<html lang="en">

{% block content %}
<div class="col-md-12">
    <div class="container">
          <h2 style="text-align: center">{{ text }}</h2>
          <form id="form" class="left" style="width: 50%; margin: 0 auto" method="POST" action="{% url 'add_status' %}" novah4date>
              {% csrf_token %}
              <div class="form-group center">
                  <label for="status"><strong>{{ form.status.label_tag }}</strong></label>
                  {{ form.status }}
              </div>
              <br>
              <button id="submit" type="submit" class="btn waves-effect waves-h4ght" value="Save"><h6>Post</h6></button>
          </form>
          <hr>
		      <div class="col-md-12">
		      {% if data %}
		         <h2 style="text-align: center">Words created</h2>
			       {% for obj in data %}
			          <div class="col-md-4 center">
				              <h5>{{ obj.dates }}</h5>
				              <h3>{{ obj.status }}</h3>
				              <hr>
			          </div>
			       {% endfor %}
		      {% endif %}
		      </div>
          <hr>
    </div>
</div>
</html>
{% endblock %}