{% extends 'base.html' %}
{%load static%}

{% block content %}
<div class="col-md-8">
<a href="/landing">
  <button class="btn waves-effect waves-light" style="margin-top: 10px;" color="black;">
      <h8>Go to landing page</h8>
</button></a>
<div style="padding-left: 500px">

<img src="{% static 'images/tari.png'%}" class="rounded-circle" alt="Picture of Tari"width="250" height="250">

</div>
<div>
<div class="col-md-12" style="padding-top: 40px;">
    <button class="accordion"><h6>Achievements</h6></button>
    <div class="panel">
      <p>
        Mathematics Olimpiade of HIMATIKA UNILA 2011, 3rd winner
        <br>PBB Pramuka UNILA 2013, 3rd winner in Lampung Province
        <br>Mathematics International Competition Assesments for School (ICAS) 2013, “Distinction” Predicate
    </p>
    </div>
</div>    
<div class="col-md-12" style="padding-top: 10px;">
      <button class="accordion"><h6>My Activities</h6></button>
      <div class="panel">
          <p>2017 &nbsp;English Club Universitas Lampung
              <br>2018  &nbsp;Secretary of Social Project Fasilkom Year 2018
              <br>2018  &nbsp;Staff of Event TOBK Univ. Indonesia
              <br>2018  &nbsp;Staff of Social Dept. FUKI
              <br>2019  &nbsp;Staff of Decoration and Costume COMPFEST 11
              <br>2019  &nbsp;Staff of Decoration for UI ETHNOVAGANZA
              <br>2019  &nbsp;Vice Chairman of Paguyuban Saimala UI
              <br>2019  &nbsp;PIC of Corporate Relations TOBK UI Lampung Province</p>
      </div>
</div>

 <div class="col-md-12" style="padding-top: 10px;">
      <button class="accordion"><h6>Educational Experience</h6></button>
      <div class="panel">
        <p>
            2005 - TK Al-Azhar 2 Bandar Lampung
            <br>2011 - SD Al-Azhar 2 Bandar Lampung
            <br>2014 - SMPN 2 Bandar Lampung
            <br>2017 - SMAN 2 Bandar Lampung
            <br>2022 - Universitas Indonesia
            <br>
            <br>Mathematics Olimpiade of HIMATIKA UNILA 2011, 3rd winner
            <br>PBB Pramuka UNILA 2013, 3rd winner in Lampung Province
            <br>Mathematics International Competition Assesments for School (ICAS) 2013, “Distinction” Predicate
        </p>
      </div>
 </div>
 </div>
</div>
 </div>
</html>
{% endblock %}